* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
:root {
  --primary: #4ec0aa;
  --secondary: #77dac4;
  --third: #333333;
  --fourth: #fefefe;
  --fifth: #878787;
  --sixth: #d4def7;
}
/* mart page */
.mart-main {
  justify-items: center;
  align-content: center;
}
.mart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.mart-main .mart-content {
  width: 90%;
}
.mart-header p {
  font-size: 1.5vw;
}
span {
  color: var(--primary);
  font-weight: bold;
}
.links {
  display: flex;
}
.links a {
  text-decoration: none;
  margin-right: 1.5vw;
  font-weight: bold;
  color: var(--third);
  font-size: 1vw;
}
.links a:hover {
  color: var(--secondary);
}
.mart-cart {
  display: flex;
  font-size: 1vw;
}
.mart-cart i {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

/* mart image page*/
.mart-main-img {
  background-image: url(image/sec-1.png);
  height: 33vw;
  justify-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mart-main-img .mart-content {
  width: 90%;
  justify-items: center;
  align-content: center;
  color: var(--fourth);
  font-size: 2.5vw;
  font-weight: lighter;
}
.mart-main-img .mart-content p:nth-child(3) {
  border: 0.2vw solid var(--primary);
  font-size: 1vw;
  margin-top: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
/* icon page */
.icon-main {
  justify-items: center;
  align-content: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.icon-content {
  width: 90%;
  display: flex;
  padding-right: 5vw;
  padding-left: 5vw;
}
.icon {
  text-align: center;
  font-size: 1vw;
  padding-right: 2vw;
}
.icon i {
  font-size: 3vw;
}
.icon h4 {
  margin-top: 2.5vw;
}
.icon p {
  color: black;
  margin-top: 1vw;
}
.icon:hover {
  color: var(--secondary);
}
/* new collectrion page */
.new_collection-main {
  justify-items: center;
  align-content: center;
  background-color: var(--sixth);
}
.new_collection-content {
  margin-top: 3vw;
  width: 90%;
  margin-bottom: 5vw;
}
.new_collection-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.line {
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 3vw;
  height: 1vw;
  width: 14vw;
  background-image: repeating-linear-gradient(
    #4ec0aa 0% 20%,
    rgba(255, 255, 255, 0) 20% 30%,
    #4ec0aa 30% 50%
  );
}

/* FEATURED PRODUCTS */
.featured_product-main {
  justify-items: center;
  align-content: center;
}
.featured_product-content {
  margin-top: 3vw;
  width: 90%;
  margin-bottom: 5vw;
}
.featured_product-main a {
  text-decoration: none;
  border: 0.1vw solid black;
  color: black;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.7vw;
}
.image {
  position: relative;
  margin-bottom: 2.5vw;
}
.featured_product-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 1.5vw;
}
.nav-links a {
  font-size: 1vw;
}

.nav-links a:hover {
  background-color: var(--primary);
  color: var(--fourth);
}
.nav-link-wrapper {
  position: relative;
}
.nav-count {
  position: absolute;
  top: -2vw;
  right: 0;
  background-color: var(--fourth);
  color: var(--primary);
  font-size: 1vw;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid black;
  opacity: 0;
}
.nav-link-wrapper:hover .nav-count {
  opacity: 1;
}

/* sale banner page */
.Sale-banner {
  height: 20vw;
  background-image: url(image/sale.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--fourth);
  justify-items: center;
  align-content: center;
}
.sale-banner-content {
  width: 90%;
  text-align: center;
  font-size: 2vw;
}
.sale-banner-content p {
  font-size: 2.5vw;
  font-weight: lighter;
  line-height: 4vw;
  color: rgba(255, 255, 255, 0.7);
}
/* CUSTOMER REVIEW */
.customer_review-main {
  justify-items: center;
  align-content: center;
}
.customer_review-content {
  margin-top: 3vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer_review--name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.customer-avatar img {
  height: 15vw;
  width: 15vw;
  border-radius: 100%;
}
.customer_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.customer_image img {
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  border: 0.3vw solid black;
}
.customer_review-content p {
  width: 70%;
  text-align: center;
  font-size: 1vw;
  margin-top: 1vw;
}
h4 {
  margin-top: 1vw;
  font-size: 1.4vw;
  text-align: center;
}
h6 {
  font-size: 1.2vw;
  font-weight: lighter;
}
.customer_image img:hover {
  border-color: #4ec0aa;
  height: 5.5vw;
  width: 5.5vw;
  margin-bottom: 0.5vw;
}
/*  NEWS LETTER PAGE */
.news_letter-main {
  margin-top: 3vw;
  display: flex;
  height: 25vw;
  background-image: url(image/green\ back.png);
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.news_letter-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.news_letter-line {
  margin-top: 1vw;
  height: 1vw;
  width: 10vw;
  background-image: repeating-linear-gradient(
    #ffffff 0% 20%,
    #4ec0a900 20% 30%,
    #ffffff 30% 50%
  );
}
.news_letter-content p {
  color: white;
}
.input-box div {
  position: relative;
  margin-top: 3vw;
  width: 30vw;
  height: 3vw;
  background-color: white;
  display: flex;
}
input {
  border-style: none;
  width: 30vw;
  height: 3vw;
  font-size: 1vw;
  padding-left: 1vw;
}
.input-box i {
  font-size: 2vw;
  background-color: var(--primary);
  color: var(--fourth);
  width: 5vw;
  height: 2.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid var(--fourth);
}
.news_letter-content p {
  font-size: 1.2vw;
}

/* our partner page */
.our_partner-main {
  justify-items: center;
  align-content: center;
  background-color: var(--sixth);
}
.our_partner-content {
  margin-top: 5vw;
  width: 90%;
  margin-bottom: 5vw;
}
.our_partner-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.our_partner-image img {
  height: 10vw;
  width: 20vw;
  margin-bottom: 3vw;
  border: 0.2vw solid var(--primary);
}
.our_partner-image {
  display: flex;
  justify-content: space-between;
}

/* LATEST NEWS PAGE */
.latest_news-main {
  justify-items: center;
  align-content: center;
}
.latest_news-content {
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 90%;
}
.latest_news-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.latest_news_cards-container {
  display: flex;
  justify-content: space-between;
}
.latest_news-cards {
  width: 28vw;
}
.latest_news-cards img {
  width: 28vw;
  height: 15vw;
}
.latest_news-cards .line {
  align-items: center;
  margin-top: 1vw;
  height: 0.2vw;
  width: 7vw;
  background-image: repeating-linear-gradient(#4ec0aa 0% 100%);
}
.latest_news-cards h5,
.latest_news-cards p {
  text-align: justify;
  line-height: 1.5vw;
  font-size: 1vw;
}
.latest_news-cards button {
  height: 3vw;
  width: 10vw;
  margin-top: 1vw;
  background-color: var(--primary);
  border-style: none;
  color: var(--fourth);
  font-size: 1vw;
  border-radius: 0.3vw;
}

/* GET IN TOUCH PAGE */

.footer-main {
  justify-items: center;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(image/worldmap.png);
}
.footer-content {
  width: 90%;
  margin-bottom: 5vw;
}
.footer-form input:hover::placeholder {
  color: var(--primary);
  opacity: 0.7;
}
.input-name,
.input-subject {
  display: flex;
}
.getintouch-name {
  margin-top: 5vw;
  color: var(--fourth);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 1.5vw;
}
.footer-main input {
  width: 20vw;
  margin-top: 1vw;
  margin-right: 1vw;
}
.footer-main .input-name input {
  background-color: #33333300;
  border: 0.1vw solid var(--fourth);
}
.footer-main .input-subject input {
  background-color: #33333300;
  border: 0.1vw solid var(--fourth);
}
.footer-main .input-yourmsg input {
  width: 42vw;
  height: 5vw;
  background-color: #33333300;
  border: 0.1vw solid var(--fourth);
}
.footer-lft-content {
  width: 45%;
}

form {
  justify-content: space-between;
  display: flex;
  color: var(--fourth);
}
.footer-lft-content h1 {
  font-size: 3vw;
  font-weight: lighter;
  margin-bottom: 1vw;
}

.footer-lft-content span {
  font-weight: lighter;
}
.footer-lft-content p {
  font-size: 1vw;
  padding-bottom: 0.7vw;
}

button {
  font-size: 1vw;
  margin-top: 1vw;
  height: 3vw;
  width: 10vw;
  color: var(--fourth);
  background-color: var(--primary);
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
}
.footer-social-iocns {
  display: flex;
}
.footer-social-iocns i {
  font-size: 1vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  margin-right: 1vw;
  border: 0.1vw solid var(--fourth);
  border-color: var(--fourth);
}
.footer-social-iocns i:hover {
  border-color: var(--primary);
  background-color: var(--primary);
}

.footer-ryt-content input:hover {
  border-color: var(--primary);
}
/* footer */
.footer {
  padding-top: 1vw;
  padding-bottom: 1vw;
  height: 2vw;
  text-align: center;
  background-color: black;
  color: var(--fourth);
  font-size: 1vw;
}

/* hover for all image  */
.image {
  width: 21vw;
  height: 20vw;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
}
.image-icons i {
  font-size: 2vw;
  color: white;
  border: 0.1vw solid white;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
}
.image-type .type-new {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-left: 0.5vw;
}
.image-type .type-sale {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 0.5vw;
}

.type-sale {
  display: flex;
  justify-content: flex-end;
}
.image-icons i:hover {
  border-color: var(--primary);
  background-color: var(--primary);
}

.image-cart-icon {
  background-color: var(--third);
  color: white;
  border: 0.1vw solid white;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  margin-top: 1vw;
  font-size: 2vw;
}
.image-cart-icon:hover {
  background-color: var(--third);
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.image:hover .overlay {
  opacity: 1;
}
.image:hover .left-container {
  background-color: var(--primary);
  color: var(--fourth);
}

.image:hover .ryt-container {
  background-color: var(--secondary);
  color: var(--fourth);
}

.image_name-container {
  display: flex;
}
.new_collection-img-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vw;
}

.new_collection-img-container .left-container {
  flex-grow: 1;
  background-color: var(--third);
  color: var(--fourth);
  font-size: 1vw;
  padding: 0.5vw 1vw;
  transition: background-color 0.3s ease;
}

.new_collection-img-container .ryt-container {
  background-color: var(--fifth);
  color: var(--fourth);
  font-size: 1vw;
  text-align: left;
  padding: 0.5vw 1vw;
  transition: background-color 0.3s ease;
}
.image:hover .image-type {
  opacity: 0;
}
.type-new {
  font-size: 0.7vw;
  border: 0.1vw solid black;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  margin-top: 0.3vw;
}
.type-sale {
  font-size: 0.7vw;
  border: 0.1vw solid black;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  margin-top: 0.3vw;
}
